

.container {
  background-color: #000000;
  height: min-content;
  padding: 2px;
  font-size: 0.5vh;
  color: white;
  align-items: center;
  justify-content: stretch;
  display: grid;
  grid-template-columns: minmax(1fr,auto) ;
  grid-template-rows: minmax(0.5fr,auto) ;
  grid-row-gap: 1px;
}
.item {

  width: 0.5vw;
}
.breaker {
  grid-column-start: 1;
  grid-column-end: 9;
}
.Block {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: left;
  justify-content: left;
  font-size: 0.5vh;
  color: white;
  page-break-inside: auto;
}
.App {
  background-color: #000000;
  text-align: center;
  min-height: 10vh;
}


header {
  padding-bottom: 200px;
}
footer{
  min-height: min-content;
  color: whitesmoke;
  background-color: #000000;
  font-size: 2rem;
}
h1 {
  text-align: center;
  font-size: 12px;
  margin: 1px;
}
h4 {
  text-align: center;
  font-size: .33em;
  margin: 1px;
}

tr {
  font-size: 0.7em;
  page-break-before: avoid;
}

p {
  text-align: center;
  color: whitesmoke;
  font-size: .22em;
  font-family: Arial;
  margin: 0;
  height: 2%;
}

.weatherDescription {
  font-size: xx-small;
  display: grid;
  margin: 0.1rem;
  color: wheat;
}

input {
  background-color: #000000;
  color: wheat;
  height: 1fr;
  border-radius: 60px 60px 60px 25px;
}

form {
  background-color: #000000;
  height: 100fr;
}

.windDirection {
  height: .5fr;
  width: .5fr;
  text-align: center;
}



.weatherImage {
  padding-top: 0em;
  height: 7vh;
  width: 7vw;
  vertical-align: middle;
  text-align: center;
}

.feelsLikeTemp {
  color: whitesmoke;
}

.weatherContainer{
  height: auto;
  
  background-color: #000000;
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 8em;
  color: white;
}
.card {
  box-shadow: 0 4vw 8vh 0 rgba(0, 0, 0, 0.2);
  border-radius: 25vh 25vw 25vh 25vw;
  transition: 0.3s;
  width: 0.5vw;
  height: 1vh;
  padding: 2vh;
  page-break-before: always !important;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  margin: 0px;
  justify-content: center;
  font-size: 3em;
  height: 200vh;
}
button {
  border-radius: 60px 60px 60px 60px;
  font-size: 8px;
  color: white;
  background-color: green;
  padding: 5px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
