.grid-container {
  display: grid;
  background-color: #000000;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr 10%);
  gap: 6px 7px;
  justify-content: end;
  align-items: flex-end;
}
.itemGrid {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  justify-content: left;
  align-items: left;
  border-radius: 5px 5px 5px 5px;
  background-color: #000000;
}

.Midnight {
  background-color: #000066;
  grid-column-start: 1;
  grid-column-end: 2;
}

.Threeam {
  background-color: #000066;
  grid-column-start: 2;
  grid-column-end: 3;
}

.Sixam {
  background-color: #0000cc;
  grid-column-start: 3;
  grid-column-end: 4;
}

.Nineam {
  background-color: #1a1aff;
  grid-column-start: 4;
  grid-column-end: 5;
}

.Noon {
  background-color: #8080ff;
  grid-column-start: 5;
  grid-column-end: 6;
}

.Threepm {
  background-color: #1a1aff;
  grid-column-start: 6;
  grid-column-end: 7;
}

.Sixpm {
  background-color: #0000cc;
  grid-column-start: 7;
  grid-column-end: 8;
}

.Ninepm {
  background-color: #000066;
  grid-column-start: 8;
  grid-column-end: 9;
}

.Breaker {
  grid-column-start: 1;
  grid-column-end: 9;
}

.container {
  display: grid;
  color: white;
  height: 100%;
  background-color: #000000;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, auto 0.5fr);
  gap: 6px 7px;
}

#root {
  background-color: #000000;
  height: inherit;
}
.item {
  width: 0.5vw;
}
.breaker {
  background-color: #000000;
  grid-column-start: 1;
  grid-column-end: 9;
  text-align: center;
  font-size: x-large;
}
.Block {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: left;
  justify-content: left;
  font-size: 0.5vh;
  color: white;
  page-break-inside: auto;
  background-color: #000000;
}
.App {
  background-color: #000000;
  text-align: center;
  min-height: 10vh;
  height: 100%;
}

html {
  height: max-content;
}

header {
  padding-bottom: 2px;
}
footer {
  min-height: min-content;
  background-color: #000000;
  background-color: #000000;
  font-size: 2rem;
}
h1 {
  text-align: center;
  font-size: large;
  margin: 1px;
}
h4 {
  text-justify: center;
  text-align: center;
  font-size: 1em;
  margin: 1px;
}

tr {
  font-size: 0.7em;
  page-break-before: avoid;
}
@media only screen and (min-width: 10px) {

  p, h1{
    font-size: small;
  }
  h2{
    margin: 1%;
    font-size: xx-small;
  }
}
@media only screen and (min-width: 400px) {
  p, h1{
    font-size: medium;
  }
  h2{
    font-size: x-small;
  }
}
@media only screen and (min-width: 600px) {

  h1, p {
    font-size: large;
  }
  h2{
    font-size: medium;
  }
}
@media only screen and (min-width: 1000px) {
  h1,p {
    font-size: x-large;
  }
  h2{
    font-size: large;
  }
}
@media only screen and (min-width: 1400px) {
  h1,p {
    font-size: xx-large;
  }
  h2{
    font-size: x-large;
  }
}
@media only screen and (min-width: 2000px) {
  h1,p {
    font-size: 0.9em;
  }
  h2{
    font-size: 0.7em;
  }
}
p {
  text-align: center;
  color: whitesmoke;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
}
img {
  margin: 0;
  height: 1fr;
}
.weatherDescription {
  font-size: xx-small;
  color: wheat;
}

input {
  background-color: #000000;
  color: wheat;
  height: 1fr;
  border-radius: 60px 60px 60px 25px;
}

body {
  height: 100%;
}

form {
  background-color: #000000;
  height: 100%;
  width: inherit;
}
select{
  width: 100%;
}
.windDirection {
  text-align: center;
  height: 0.6fr;
  width: 0.6fr;
}

.weatherImage {
  padding-top: 0em;
  vertical-align: middle;
  text-align: center;
  transform: scale(0.9);
}

.feelsLikeTemp {
  color: whitesmoke;
}

.weatherContainer {
  background-color: #000000;
  height: 100%;
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 8em;
  color: white;
}

h4 {
  height: 100rem;
}

.card {
  box-shadow: 0 4vw 8vh 0 rgba(0, 0, 0, 0.2);
  border-radius: 25vh 25vw 25vh 25vw;
  transition: 0.3s;
  width: 0.5vw;
  height: 1vh;
  padding: 2vh;
  page-break-before: always !important;
}

.itemGrid:hover {
  box-shadow: 2px 10px 10px 2px rgba(255, 255, 255, 0.5);
  transition: 2s;
  z-index: 1;
  transform: scale(1.25) translate(0px, 10%);
}

.container {
  margin: 0px;
  justify-content: center;
  font-size: 3em;
  height: 100%;
}
button {
  border-radius: 60px 60px 60px 60px;
  font-size: 8px;
  color: white;
  background-color: green;
  padding: 5px;
  width: 100%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
